
# .gitignore

# Sanal Ortam
venv/
__pycache__/

# Log ve Database Dosyaları
*.log
*.sqlite3
chroma_db/

# Çalışma Ortamı Dosyaları
.env
.DS_Store

# Vercel ile ilgili gereksiz dosyalar
.vercel/
