# pip install fastapi[all]
fastapi
# pip install uvicorn
uvicorn
# pip install langchain
langchain
# pip install langchain-community
langchain-community
# pip install langchain-chroma
langchain-chroma
# pip install langchain-huggingface
langchain-huggingface
# pip install google-generativeai
google-generativeai
# pip install pydantic
pydantic
# pip install python-dotenv
python-dotenv
# pip install pymupdf
PyMuPDF
# pip install pdf2image
pdf2image 
# pip install langchainhub
langchainhub
# pip install networkx
networkx

pip 







# pip install -r requirements.txt
# pip install -r requirements.txt --default-timeout=100
# Remove-Item -Recurse -Force venv
# python -m venv venv
# .\venv\Scripts\activate
# Command Palette yeni venv i interpreter ata